@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white selection:bg-electric selection:text-darker;
  }
}

@layer utilities {
  .glass {
    @apply bg-black/40 backdrop-blur-xl border border-white/5 shadow-2xl;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}
